.container {
    max-width: 120rem;
    margin: 4rem auto;
    background-color: var(--color-grey-lt-2);
    box-shadow: var(--shadow-1);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.4rem;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dk-1);
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: var(--color-white);
    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-lt-1);
    border-bottom: var(--line);
}

.description {
    background-color: var(--color-white);
    box-shadow: var(--shadow-2);
    padding: 3rem;
    margin-right: 4.5rem;
    font-size: 1.4rem;

    flex: 0 0 60%;
}

.user-reviews {
    background-color: var(--color-white);
    box-shadow: var(--shadow-2);
    flex: 1;
}